body {
  background: #FFFFFC;
  color: #032DFF;
  margin: 0;
  padding: 0;
  /*border-top: 8px solid #032DFF;*/
  font-family: 'Source Sans Pro', Franklin Gothic Book, Helvetica Neue, Arial, sans-serif;
}

/*
pink FDF1F9
cobalt 032DFF
neon B7FF00
butter FFFAE7
*/

.container {
  width: 800px;
  margin: 0 auto;
  padding-top: 100px;
  text-align:center;
}

#quote {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

.source {
  white-space: nowrap;
  font-weight: 300;
  color: #777;
  font-size: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 46%;
  opacity: .5;
}
