body {
  background: #FFFFFC;
  color: #fff;
  margin: 0;
  padding: 0;
  /*border-top: 8px solid #032DFF;*/
  font-family: 'Playfair Display', Franklin Gothic Book, Helvetica Neue, Arial, sans-serif;
  background: url(imgs/nicehouse.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
}

/*
pink FDF1F9
cobalt 032DFF
neon B7FF00
butter FFFAE7
*/

.container {
  width: 800px;
  margin: 0 auto;
  padding-top: 100px;
  text-align:center;
}

#quote {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: .02em;
  text-align: center;
  text-shadow: rgb
}

.source {
  white-space: nowrap;
  font-weight: 100;
  color: #fff;
  font-style: italic;
  font-size: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 46%;
  opacity: .5;
}
